cycler==0.9.0
decorator==4.0.6
gurobipy==8.1.0
matplotlib==1.5.1
meld3==1.0.2
numpy==1.15.4
opencv-python==3.4.2.17
Pillow==3.1.2
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2014.10
scikit-image==0.10.1
scipy==0.17.0
six==1.10.0
supervisor==3.2.0
